.detailsWrap {
  margin: 100px 0px;
  width: 80%;
}
.googleMaps{
  position: relative;
  width: 100%;
  height: 400px;
}
.adres{

}

.detailsBorder {
  padding: 20px 50px 60px 50px;
  position: relative;
  border-radius: 8px;
  border: 1px solid #ffcb62;
}
.detailsHeading {
  position: absolute;
  top: -70px;
  font-size: 50px;
  color: #ffcb62;
}
.detailsTabel {
  font-size: 16px;
  padding: 50px 80px 0px 80px;
  width: 100%;
  color: white;
}
.detailsRow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 50px;
  width: 100%;
}

.detailsBehandeling {
  width: 75%;
}

.detailsPrijs {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 25%;
}

.detailsTabelHeading {
  margin-bottom: 20px;
  padding: 20px 30px;
  font-size: 40px !important;
  border-bottom: 3px solid #ffcb62;
}
@media only screen and (max-width: 768px) {
  .detailsHeading {
    left: 5%;
    width: 100%;
  }
  .detailsBorder {
    padding: 0px;
    position: relative;
    border-radius: 8px;
    border: 1px solid #d6a556;
  }
  .detailsTabel {
    font-size: 12px;
    padding: 0px;
    width: 100%;
    color: white;
  }
}
