.pictureZoom {
  position: fixed;
  z-index: 99;
  top: 35%;
  left: 44%;
  transform: scale(3.0);
  transition: all 0.5s ease-in-out; /* Add transition property */
}

.gridItem{
  width:300px;
  height:200px;
  background-color: #444;
  color: #fff;
  transform: scale(1.0);
  transition: all 0.5s ease-out;
border-radius: 5px;
overflow: hidden;
background-color: white;
}
.gridItem:hover{
  transform: scale(1.05);
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}
.galleryWrap {
  width:100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
transition: all 0.5s ease-out;
overflow-y: hidden;
padding-bottom: 8px;
}

.galleryBorder{
  position: relative;
  margin:120px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width:80%;
  position: relative;
  padding:15px;


  

}

.GalleryArrowLeft{
position: absolute;
left:-100px;
}
.GalleryArrowRight{
  position: absolute;
  right:-100px;}

.arrowLeftImage{

  padding:10px;
  width:60px;
  height:60px;
  cursor: pointer;
  border:2px solid #ffcb62;

  background: rgba(0, 0, 0, 0.3); 

}
.arrowRightImage{
  padding:10px;
  width:60px;
  height:60px;
  cursor: pointer;
  border:2px solid #ffcb62;



}
.galleryWrap::-webkit-scrollbar {

  height:8px;
  
}

/* Track */
.galleryWrap::-webkit-scrollbar-track {
  
  border-radius: 10px;
}

/* Handle */
.galleryWrap::-webkit-scrollbar-thumb {
  background: #d6a556;
  border-radius: 10px;

}

/* Handle on hover */
.galleryWrap::-webkit-scrollbar-thumb:hover {}

.popupContent::-webkit-scrollbar-button {
  height: 5px;
}


.galleryGrid{
  display: grid;
  grid-template-columns: repeat(4, 2fr); 
  grid-gap: 15px;
  color: WHITE;
  margin: 0 auto;
  transition: all 0.5s ease-out;

}
.galleryHeading{
  position:absolute;
  top: -80px;

  width:100%;
  font-size: 50px;
  color:#d6a556;
  transition: all 0.2s ease-out
}
@media (max-width: 1600px) {
  .galleryGrid{
 
    grid-template-columns: repeat(3, 1fr); 

  }
}


@media (max-width: 1200px) {
  .galleryGrid{
 
    grid-template-columns: repeat(2, 1fr); 

  }
}

@media only screen and (max-width: 768px) {
  .galleryGrid{
 
    grid-template-columns: repeat(1, 1fr); 

  }
  .galleryBorder{
    width:100%;
    padding:15px;
    border: none;
    margin: 60px 0px;
  }
  .gridItem{

    background-color: #444;
    color: #fff;
    transform: scale(1.0);
    transition: all 0.5s ease-out;
  top : 35%;
  left : 44%;
  border-radius: 5px;
  overflow: hidden;
  }

  .galleryHeading{

    left:5%;

  }

  .galleryHeading{
    margin: 30px 0px;
    position:static;
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
    padding-bottom:50px;
    text-align: center;
  
  }
  }