.main {
  display: flex;
  flex-direction: column;
justify-content: center;
align-items: center;
background-color: black;
height: 100%;
background-image: url(/bg5.png);
background-size: contain;


}
.overlay{
  position:fixed;
  width:100%;
  height:100%;
  top: 0%;
  left: 0%;
  z-index:10;
  transition:background-color 0.3s;

}
.goldBorder{

  padding:30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position:relative;
  border-radius: 8px;
  width: 80%;
  border: 3px solid #d6a556;
  background: rgba(0, 0, 0, 1) 

}
.mainLogo{

position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
top:-140px;
border-radius: 50%;
z-index: 3;
background-color: transparent;
filter: drop-shadow(1px 5px 5px rgb(0 0 0 / 0.4));
}
.mainLogo img{
  display: block;
}

.bannerWrap{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;

    background-color: black;

}
.section{
  margin: 70px 0px 100px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:80%;
  gap:50px;
  background-color: black;
}
.lashartproLink:hover{
  color:#d6a556;
  transition: all 0.3s;
  transform: scale(1.2);

}
.section1{
  display: flex;
  width:100%;
  gap:50px;
  background-color: black;
}
.section2{
  margin-top: 40px;
  display: flex;
  gap:50px;
  width:100%;
  
  background-color: black;
}

.sectionLeft{
  display: flex;
  justify-content: center;
  align-items: center;
 
width:50%;;
overflow: hidden;
border-radius:5px;
}
.sectionLeft img{

border-radius:5px;
}
.sectionRight{
  display: flex;
  gap:30px;
  justify-content: center;

  flex-direction: column;
  width:50%;
color:white;

}

.sectionRightHeading{
  font-size: 50px;
  color:#d6a556;
}
.sectionSvgHeading{

}

.sectionImage{
  width:100%;
  height:100%;
  max-height: 300px;
  min-height: 300px;
  max-width: 500px;
  min-width: 500px;
  background: url(/onebyone.png);
  background-repeat: no-repeat;

  background-size: 100% 100%;
}

.sectionImage2{
  width:100%;
  height:100%;
  max-height: 300px;
  min-height: 300px;
  max-width: 500px;
  min-width: 500px;
  background: url(/lashartpro.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media only screen and (max-width: 768px) {
.section1{
  flex-direction: column;
}
.section2{
  flex-direction: column;
}
.sectionLeft{
  width:100%;
}
.sectionRight{
  width:100%;
}
.goldBorder{
  margin-top:160px;
  padding:10px;

  width: 90%;


}

.sectionRightHeading{
  width:100%;
  text-align: center;
  font-size: 30px;

}

.section p{
  text-align: center;
}
}