.popupWrap{
  
  width:0px;
  height:0px;
position:fixed;
z-index: 99;
top:50%;
left:50%;
transform:translate(-50%, -50%);
opacity: 0;

overflow-y:auto;
background-color: white;
border-radius: 10px;
transition: all 1s ease;
}
.portfolioText{
  height:100%;
  display: flex;
  gap:30px;
  flex-direction: column;
}
.portfolioButton{
  padding: 20px;
  color:781e1e;
  border: 1px solid #781e1e;
}
.popupContent{
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:30px;

}

.eigenRisico{
  display: flex;

  flex-direction: column;
  gap:50px;
  padding:50px;
  background-color: white;
}

.eigenRisico ul{
  display: flex;

  flex-direction: column;
  gap:50px;
}

@media only screen and (max-width: 768px) {
  .popupContent{
    flex-direction: column;
  }
  .popupWrap{
    width: 100%;
  }
}