.popupWrap{
  width:0px;
  height:0px;
position:fixed;
z-index: 99;
top:50%;
left:50%;
transform:translate(-50%, -50%);

overflow-y:scroll;

}

.popupContent{
  display: flex;
  justify-content: center;
  align-items: center;
}

.eigenRisico{
  display: flex;

  flex-direction: column;
  gap:50px;
  padding:50px;
  background-color: white;
}

.eigenRisico ul{
  display: flex;

  flex-direction: column;
  gap:50px;
}