.tarievenWrap{
  margin:100px 0px;
width:80%;
}

.tarievenBorder{

  position: relative;
  border-radius: 8px;
  border: 1px solid #d6a556;
}
.tarievenHeading{

  position: absolute;
  top:-70px;
  font-size: 50px;
  color:#d6a556;
}
.tarievenTabel{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:20px;
  padding:50px;
  width:100%;
  color:white;
  text-align: center;
  cursor: pointer;

}
.tarievenButton{
  width:50%;
  padding:20px;
  border-radius: 5px;;
  border: 1px solid #d6a556;

}
.tarievenRow{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 50px;
width:100%
}

.tarievenBehandeling{
width:75%;
}

.tarievenPrijs{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width:25%;
}

.tarievenTabelHeading{
  margin-bottom: 20px;
  padding:20px 30px;
  font-size: 40px !important;
  border-bottom: 3px solid #ffcb62;
}
@media only screen and (max-width: 768px) {
  .tarievenHeading{
    left:5%;
    width:100%;
  
  }
  .tarievenBorder{
    padding:0px;
    position: relative;
    border-radius: 8px;
    border: 1px solid #d6a556;
    
  }
  .tarievenTabel{
    font-size:14px;
    padding:20px;
    width:100%;
    color:white;
   
  }
}